<% provide(:title, 'Callback') %>


<body class="home blog">
  <div id="page" class="feed site">
    <div class="title-wrapper">
      <a id="minelife" rel="home" href="http://localhost:3000/">
       МОЄ ЖИТТЯ<span id="ua">.UA</span>
     </a>
    </div>
    <div class="site_tags"> some about dresses, travels and lifestyle </div>
    <div class="main_menu_container">
      <ul id="main_menu" class="menu">
      <li id="menu_item"><a href="http://localhost:3000/">Home</a></li>
      <li id="menu_item"><a href="http://localhost:3000/topics/clothes/">Clothes</a></li>
      <li id="menu_item"><a href="http://localhost:3000/topics/cosmetics/">Cosmetics</a></li>
      <li id="menu_item"><a href="http://localhost:3000/topics/travels/">Travels</a></li>
      <li id="menu_item"><a href="http://localhost:3000/topics/lifestyle/">Lifestyle</a></li>
      <li id="menu_item"><a href="http://localhost:3000/home/about/">About me</a></li>
      </ul>
    </div>
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site_main" role="main">
          <article id="callback_in">               <!--changes there--> 
            <header class="entry-header">
              <h1 class="entry-title">
              Зворотній зв’зок
            </h2>
            </header>
              <div class="some-article"></div>
              <p class="feedback"> Якщо у Вас виникли запитання, пропозиції чи просто хочете поділитися чимось, пишіть у цій формі: </p></br>
              <p>Або користуючись e-mail чи соціальними мережами: </p>
            </div>
          </article>
       </main>
      </div>
    </div>
  <div class="clr"></div>
</div>

<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="footer-info">
    <div class="follow-me">
      <span>Follow me</span>
      <a class="fb" target="_blank" href="https://www.facebook.com/kapitalina.ribbentropmolotova">
        <img src="/images/facebook.png"></a>
      <a class="insta" target="_blank" href="https://www.instagram.com/josie_the_duck/">
        <img src="/images/instagram.png"></a>
      <a class="yt" target="_blank" href="https://www.youtube.com/channel/UCtu7T_Z7fWH-wiab-jml05g?view_as=public">
        <img src="/images/yt.png"></a>
    </div>
    <p class="copyright">All Rights Reserved @ 2015 Katya</p>
  </div>
 </footer>
 <style>
   #content > #center > .dose > .dosesingle,
   #content > #right > .dose > .dosesingle
   {display: none !important;}
 </style>
</body>