<body class="home blog">
  <div id="page" class="feed site">
    <div class="title-wrapper">
      <a id="minelife" rel="home" href="http://localhost:3000/">
       МОЄ ЖИТТЯ<span id="ua">.UA</span>
     </a>
    </div>
    <div class="site_tags"> some about dresses, travels and lifestyle </div>
    <div class="main_menu_container">
      <ul id="main_menu" class="menu">
      <li id="menu_item"><a href="http://localhost:3000/">Home</a></li>
      <li id="menu_item"><a href="http://localhost:3000/clothes/">Clothes</a></li>
      <li id="menu_item"><a href="http://localhost:3000/travels/">Travels</a></li>
      <li id="menu_item"><a href="http://localhost:3000/lifestyle/">Lifestyle</a></li>
      <li id="menu_item"><a href="http://localhost:3000/about/">About me</a></li>
      </ul>
    </div>
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site_main" role="main">
          <article id="post-1">
            <header class="entry-header">
              <h2 class="entry-title">
              <a rel="bookmark" href="http://localhost:3000/clothes/1/">Шкіряний плащ - майже як у Гестапо!</a>
            </h2>
            </header>
            <div class="entry-content">
              <div class="post-info">
                <date> 12 листопада 2015 </date>
                <a rel="categoty tag" href="http://localhost:3000/clothes/">Clothes</a>
                <span class="comments-info">
                  <a href="http://localhost:3000/clothes/1/#comments"> нема коментарів</a>
                </span>
              </div>
              <div class="some-article"></div>
              <p>
                Есть такие плащи, которые замечаешь еще издалека на вешалке и уже понимаешь, что дальше не представляешь свою жизнь без него. Даже мерять не надо, и так понятно – твое на 100%! Так случилось у меня с черным плащем из <a target="_blank" href="http://www.olx.ua/">OLX</a>.<br>
                <img class="aligncenter wp-image-1" alt="плащ" src="/images/1.jpg"
                </a>

              </p>
              <div class="post-bottom-info">
                <div class="share separator">Share</div>
                <div class="share_buttons"></div>
              <a class="detail_link" href="http://localhost:3000/clothes/1/">читати далі...</a>
              <a class="comments_link" href="http://localhost:3000/clothes/1/#comments"></a>
              </div>
            </div>
          </article>
        <div class="aligncenter">
          <div class="true_loadmore">Попередні записи</div>
        </div>
       </main>
      </div>
    </div>

 <div class="right-column">
  <div class="callback">
    <ul id="menu_callback" class="menu">
      <li id="menu_item_2"><a href="http://localhost:3000/callback/">Зворотній зв’язок</a>
      </li>
    </ul>
  </div>
  <div class="latest_posts">
    <span class="title">Останні дописи</span>
    <ul>
      <li><a href="http://localhost:3000/clothes/1/">Шкіряний плащ - майже як у Гестапо!</a></li>
      <li><a href="http://localhost:3000/travels/2">Маріуполь і ми</a></li>
    </ul>
  </div>
  <div class="instagr">
    <span class="title">Я в Instagram</span>
    <div class="textwidget">
      <div id="sb_instagram" class="sbi sbi_fixed_height sbi_col_2" data-options="{"sortby": "none", "headercolor": ""}" data-cols="2" data-res="thumb" data-num="6" data-id="241469476" style="width:250px; height:343px; background-color: #ffffff; padding-bottom: 20px; "></div>
  </div>
</div>
  <div class="archive">
    <span class="title">Архів дописів</span>
    <ul class="archivelist border">
      <div class="first">
        Виберіть місяць...
        <span class="openbutton active"></span>
      </div>
      <li style="display: list-item;">
        <a href="http://localhost:3000/2015/11">Листопад 2015</a>1
      </li>
      <li style="display: list-item;">
        <a href="http://localhost:3000/2015/12">Грудень 2015</a>3
      </li>
    </ul>
  </div>
 </div>

  <div class="clr"></div>
</div>
<div id="up_link" style="display: block">угору</div>
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="footer-info">
    <div class="follow-me">
      <span>Follow me</span>
      <a class="fb" target="_blank" href="https://www.facebook.com/kapitalina.ribbentropmolotova">
        <img src="/images/fb.png"></a>
      <a class="insta" target="_blank" href="https://www.instagram.com/josie_the_duck/">
        <img src="/images/inst.png"></a>
      <a class="yt" target="_blank" href="https://www.youtube.com/channel/UCtu7T_Z7fWH-wiab-jml05g?view_as=public">
        <img src="/images/yt.png"></a>
    </div>
    <p class="copyright">All Rights Reserved @ 2015 Katya</p>
  </div>
 </footer>
 <style>
   #content > #center > .dose > .dosesingle,
   #content > #right > .dose > .dosesingle
   {display: none !important;}
 </style>
</body>